.login-container {
  max-width: 360px;
  margin: 80px auto;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  h1 {
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  input, button {
    padding: 12px;
    font-size: 14px;
  }

  button {
    cursor: pointer;
  }
}
